episode2_igniting_our_app/node_modules
episode2_igniting_our_app/.parcel-cache
episode2_igniting_our_app/dist
episode3_laying_the_foundation/node_modules
episode3_laying_the_foundation/dist
episode3_laying_the_foundation/.parcel-cache